In [6]:
print("Aditya Kokate TACO22147")

def selectionSort(arr):
    for i in range(len(arr)):
        min_index = i
        for j in range(i + 1, len(arr)):
            if arr[j] < arr[min_index]:
                min_index = j
        arr[i], arr[min_index] = arr[min_index], arr[i]
    return arr

arr = list(map(int, input("Enter the array elements separated by space: ").split()))
print(selectionSort(arr))

Aditya Kokate TACO22147

Enter the array elements separated by space:  23 99 54 11 323 43

[11, 23, 43, 54, 99, 323]